@import url('http://fonts.googleapis.com/css?family=Inconsolata|Arvo|Source+Sans+Pro:300&subset=latin,latin-ext');

article, footer, header, nav, section { display: block; }
[hidden] { display: none; }
body { margin: 0; }
body, button, input, select, textarea { font-family: sans-serif; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
b, strong { font-weight: bold; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
nav ul, nav ol { list-style: none; }
img { border: 0; }

html, body { width: auto; height: 100%; border: 0; margin: 0 5%; padding: 0; font: 11pt/1.75em 'Arvo', sans-serif; color: #333; }

a, a:active, a:visited { text-decoration: none; color: #333; border: none; }

span[title] { position: relative; }
span[title]:hover { color: #e15; border-bottom-color: #e15; }
span[title]:hover:before, span[title]:hover:after { font: normal 0.9em/1.2em 'Source Sans Pro', sans-serif; }
span[title]:hover:before { content: attr(title); position: absolute; display: block; bottom: 2em; left: 2em; padding: 0.4em 0.75em; color: #fff; background: #06a; box-shadow: -0.5em 0.5em 0 rgba(200, 200, 200, 0.5); z-index: 3; }
span[title]:hover:after { content: '.'; position: absolute; bottom: 1.25em; left: 2.5em; width: 0; height: 0; color: transparent; border: 0.5em solid transparent; border-top: 0.5em solid #06a; border-left: 0.5em solid #06a; z-index: 4; }

#header { position: relative; text-align: right; }
#header h1 a, #header h1 a:active, #header h1 a:visited { color: #333; text-decoration: none; border: none; }
#header h1 { position: absolute; display: block; left: 0; font-size: 1em; width: 25em; text-transform: uppercase; text-align: right; }
#header h1 a > span:nth-child(1) { display: block; margin: 0 0.125em 0.1em 0; font: lighter 2.75em/0.75em 'Source Sans Pro', sans-serif; }
#header h1 a > span:nth-child(2) { display: block; font: bold 2.75em/0.75em 'Arvo', sans-serif; }
#header h1 a > small:nth-child(3) { position: absolute; display: block; top: 1.25em; left: 1em; font: 1em/0.5em Helvetica, Helvetica Neue, Arial, sans-serif; text-transform: lowercase; color: #e15; }
#header h1 > span:nth-child(2) { font-family: 'Source Sans Pro', sans-serif; text-transform: lowercase; color: #99bb11; }
#header h1 > span:nth-child(2) strong { font-family: 'Arvo'; text-transform: uppercase; }

#header ul { display: inline-block; margin: 0 0 0 5em; padding: 0; list-style: none; text-align: left; }
#header ul li { margin: 0; padding: 0; }
#header ul li a { font: normal 1em/1em 'Arvo', serif; text-transform: lowercase; }
#header ul a span { color: #06a; }

h2, h3 { position: relative; display: block; margin: 0.5em 0; padding: 0.1em 0.25em; font: normal 16pt/1em 'Arvo', serif; }
h3 { font-size: 14pt; }

#skills { position: relative; padding: 1em 0 0; }
#skills div { margin: 0.5em 0 1em; }
#skills ul { display: inline; margin: 0; padding: 0; list-style: none; }
#skills li { display: inline; margin: 0; padding: 0.4em 0.2em; font: normal 0.9em/1.5em 'Arvo', sans-serif; }
#skills ul:before { content: '+'; padding: 0; }
#skills li:before { content: '/'; padding: 0 0.4em 0 0; }
#skills ul:before, #skills li:before { font: bold 1.2em/1em sans-serif; letter-spacing: -0.125em; color: #06a; }
#skills ul:nth-child(2):before, #skills li:nth-child(1):before { display: none; }

table { margin: 0; padding: 0; }
th, td { padding: 0 1em 1em 0; vertical-align: top; }
th { font-weight: normal; text-align: right; }


#employment { position: relative; margin: 1em 0 0; }
#employment h3 { margin: 0.25em 0 0; padding: 0; font: normal 1em/1em 'Arvo', serif; }
#employment th { width: 18em; }
#employment th strong { font-size: 8pt; font-weight: normal; }
#employment div.time span { display: block; font: 10pt/0.8em 'Inconsolata', sans-serif; text-transform: uppercase; color: #999; }
#employment div.time time:nth-child(2n):before { content: '.'; padding: 0 0.2em 0 0; font: 1.2em/0.5em sans-serif; color: #06a; }
#employment div.time time:nth-child(2n+1):before { content: '/'; padding: 0 0.2em 0 0; font: 1.2em/1em sans-serif; color: #06a; }
#employment td.description { padding: 0.4em 0.75em; font: normal 0.9em/1.5em 'Arvo', sans-serif; color: #444; }
#employment td.description p { margin: 0 0 0.5em 0; padding: 0; }

#education { margin: 1em 0 0; }
#education th { width: 18em; }
#education h3 { margin: 0 0 0.2em 0; font-size: 12pt; }
#education h3 span { margin: 0; font: italic bolder 1em/0.75em 'Source Sans Pro', sans-serif; }
#education h3 span:hover:before { width: 15em; }
#education h4 { display: block; margin: 0; padding: 0; font: normal 10pt/1em 'Arvo', serif; }
#education p { margin: 0 0 0.5em 0; padding: 0; font: normal 0.9em/1.5em 'Arvo', sans-serif; }
